/* Style for the main container */
.container {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Style for the input section */
.input-section {
    margin-bottom: 20px;
}

.input-section label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 1vmax;
}

.input-section textarea {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    text-align: justify;
}

.input-section input[type="number"] {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-section button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 3vmax;
    width: 30%;
    font-weight: 700;
    font-size: 1rem;
}


/* Style for the summarized text section */
.summarized-text-section {
    margin-top: 20px;
}

.summarized-text-section h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.summarized-text-section p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}
